* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.firstpartImg {
  background-image: url(../../../../public/images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.about-bg {
  background-image: url(../../../../public/images/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.firstpartImg .overlay,
.about-bg .bloor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.content-h {
  z-index: 2;
}

.top-bar,
.navbar {
  position: relative;
  z-index: 1;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10vw;
  font-size: 14px;
  color: white;
}

.contact-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contact-info i {
  margin-right: 5px;
}

.language-selector {
  color: white;
}

.language-selector span {
  margin: 0 3px;
  color: gold;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  font-size: 12px;
  background-color: transparent;
}

.top-bar {
  color: white;
}

.top-bar .bi {
  color: #cda45e;
}

.top-bar a {
  color: white;
  text-decoration: none;
}

.top-bar a:hover {
  text-decoration: underline;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.navbar {
  position: sticky;
  z-index: 1;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  color: white;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #d4af37;
}

.dropdown-menu,
.deep-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  list-style: none;
  padding: 10px 0;
  min-width: 180px;
  z-index: 10;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.deep-dropdown:hover .deep-menu {
  display: block;
  left: 100%;
  top: 0;
}

.dropdown-menu li,
.deep-menu li {
  padding: 10px 20px;
}

.dropdown-menu li a,
.deep-menu li a {
  color: hsl(0, 8%, 97%);
  text-decoration: none;
  display: block;
}

.book-button {
  padding: 8px 18px;
  border: 1px solid #d4af37;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  transition: 0.3s;
}

.book-button:hover {
  background: #d4af37;
  color: black;
}

.div-bouton {
  margin-top: 5vh;
}

.buton-hero {
  padding: 8px 18px;
  border: 1px solid #d4af37;
  background-color: transparent;
  text-decoration: none;
  border-radius: 20px;
  transition: 0.3s;
  color: white;
}

.buton-hero:hover {
  background: #d4af37;
  color: black;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
  text-align: center;
  background-image: url(https://www.royalmansour.com/wp-content/uploads/2024/07/car1-La-Grande-Table-Marocaine.jpg);
  background-size: cover;
}

.modal-content input,
.modal-content button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  border: #030303 solid 1px;
  border-radius: 5px;
  background-color: transparent;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.input_text {
  color: white;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: white;
}

.burger {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

@media (max-width: 768px) {
  .burger {
    display: block;
    color: white;
    border: none;
    font-size: 28px;
    cursor: pointer;
    z-index: 1001;
  }
  .nav-links {
    position: absolute;
    top: 0;
    width: 75%;
    flex-direction: column;
    gap: 25px;
    background: #29261f;
    display: none;
    padding: 40px 20px;
    z-index: 1000;
    color: white;
    transition: all 0.3s ease-in-out;
    display: none;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }
  .nav-links.show {
    display: flex;
  }
  .nav-links li {
    margin: 10px 0;
  }
  .nav-links a {
    font-size: 20px;
    color: white;
    align-items: start;
  }
  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .book-button {
    display: none;
  }
  .language-selector {
    display: none;
  }
  .contact-info {
    display: flex;
    gap: 15vw;
    align-items: center;
    text-decoration: none;
  }
  .top-bar {
    color: white;
  }
  .top-bar .bi {
    color: #cda45e;
  }
  .top-bar a {
    color: white;
    text-decoration: none;
  }
  .top-bar a:hover {
    text-decoration: underline;
  }
}
.container-hero {
  display: flex;
  gap: 20vw;
  padding: 0 10vw;
  padding-top: 10vw;
  height: 100vh;
}

.hero-content > h2 {
  font-size: 50px;
  font-weight: 700px;
  margin: 0;
  color: white;
}

.hero-content > h2 > span {
  color: hsl(38, 64%, 70%);
}

.hero-content > h2 {
  font-size: 50px;
  font-weight: 700px;
  margin: 0;
}

.carousel-item {
  display: none;
  position: relative;
  z-index: 1;
}

.carousel-item.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

iframe,
.carousel-item img {
  width: 100%;
  height: 340px;
  border-radius: 10px;
  border: none;
}

.controls button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

#carouselContainer {
  display: block;
  margin: 50px auto;
  max-width: 80%;
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

/*# sourceMappingURL=app.css.map */
