* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.firstpartImg {
    background-image: url(../../../../public/images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative; // S'assure que les éléments à l'intérieur sont bien positionnés
}

.about-bg {
    background-image: url(../../../../public/images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative; // S'assure que l'image de fond ne soit pas affectée par d'autres sections
}

.firstpartImg .overlay,
.about-bg .bloor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content-h {
    z-index: 2;
}

.top-bar,
.navbar {
    position: relative;
    z-index: 1;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10vw;
    font-size: 14px;
    color: white;
}

.contact-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.contact-info i {
    margin-right: 5px;
}

.language-selector {
    color: white;
}

.language-selector span {
    margin: 0 3px;
    color: gold;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
    font-size: 12px;
    background-color: transparent;
}

.top-bar {
    color: white;
}

.top-bar .bi {
    color: #cda45e;
}

.top-bar a {
    color: white;
    text-decoration: none;
}

.top-bar a:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.navbar {
    position: sticky;
    z-index: 1;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    color: white;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #d4af37;
}

.dropdown-menu,
.deep-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    list-style: none;
    padding: 10px 0;
    min-width: 180px;
    z-index: 10;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.deep-dropdown:hover .deep-menu {
    display: block;
    left: 100%;
    top: 0;
}

.dropdown-menu li,
.deep-menu li {
    padding: 10px 20px;
}

.dropdown-menu li a,
.deep-menu li a {
    color: hsl(0, 8%, 97%);
    text-decoration: none;
    display: block;
}

.book-button {
    padding: 8px 18px;
    border: 1px solid #d4af37;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s;
}

.book-button:hover {
    background: #d4af37;
    color: black;
}

.div-bouton {
    margin-top: 5vh;
}

.buton-hero {
    padding: 8px 18px;
    border: 1px solid #d4af37;
    background-color: transparent;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s;
    color: white;
}

.buton-hero:hover {
    background: #d4af37;
    color: black;
}

// Modal styles
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    position: relative;
    text-align: center;
    background-image: url(https://www.royalmansour.com/wp-content/uploads/2024/07/car1-La-Grande-Table-Marocaine.jpg);
    background-size: cover;
}

.modal-content input,
.modal-content button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border: #030303 solid 1px;
    border-radius: 5px;
    background-color: transparent;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.input_text {
    color: white;
}

input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: white;
}

.burger {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

// Navbar resp
@media (max-width: 768px) {
    .burger {
        display: block;
        color: white;
        border: none;
        font-size: 28px;
        cursor: pointer;
        z-index: 1001;
    }

    .nav-links {
        position: fixed;
        top: 0;
        width: 75%;
        flex-direction: column;
        gap: 25px;
        background: #29261f;
        display: none;
        padding: 40px 20px;
        z-index: 1000;
        color: white;
        transition: all 0.3s ease-in-out;
        display: none;
        border-radius: 15px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
        z-index: 2;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        font-size: 20px;
        color: white;
        align-items: start;
    }

    .navbar {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    .book-button {
        display: none;
    }

    .language-selector {
        display: none;
    }

    .contact-info {
        display: flex;
        gap: 15vw;
        align-items: center;
        text-decoration: none;
    }

    .top-bar {
        color: white;
    }

    .top-bar .bi {
        color: #cda45e;
    }

    .top-bar a {
        color: white;
        text-decoration: none;
    }

    .top-bar a:hover {
        text-decoration: underline;
    }
}

.container-hero {
    display: flex;
    gap: 20vw;
    padding: 0 10vw;
    padding-top: 10vw;
    height: 100vh;
}

.hero-content>h2 {
    font-size: 50px;
    font-weight: 700px;
    margin: 0;
    color: white;
}

.hero-content>h2>span {
    color: hsl(38, 64%, 70%);
}

.hero-content>h2 {
    font-size: 50px;
    font-weight: 700px;
    margin: 0;
}

// Carousel styles
.carousel-item {
    display: none;
    position: relative;
    z-index: 1;
}

.carousel-item.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

iframe,
.carousel-item img {
    width: 100%;
    height: 340px;
    border-radius: 10px;
    border: none;
}

.controls button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

#carouselContainer {
    display: block;
    margin: 50px auto;
    max-width: 80%;
    position: relative;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}


// about
.about-bg {
    background-image: url(../../../../public/images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 105vh;
    position: relative;
    filter: none;
}

.about-bg .bloor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10vw;
    height: 100vh;
    z-index: 3;
    position: relative;
}

.about-content {
    z-index: 2;
}

.about-content h3,
.about-content p {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10vw;
    height: 100vh;
    z-index: 3;
    gap: 5vw;
}

.about-content {
    width: 50%;
    color: white;
}

.about-content h3 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 5vh;
}

.about-content p {
    margin-bottom: 5vh;
    color: gray;
}

.about-content ul {
    padding-left: 20px;
    list-style: circle;
    margin-bottom: 5vh;

}

.about-content li {
    margin: 10px 0;
}

.about-content p {
    font-size: 1rem;
    line-height: 1.6;
}

.about-image-container {
    width: 50%;
    position: relative;
}

.about-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 6px solid #35322f;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-image-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

// about...


@media (max-width: 768px) {
    .about-section {
        flex-direction: column-reverse;
        padding: 0;
        height: auto;
        gap: 0;
        margin: 0;
        z-index: 0;
    }

    .about-content {
        width: 100%;
        text-align: center;
        margin: 0;
        ;
        padding: 0;
    }

    .about-image-container {
        margin-top: 20px;
        width: 93%;
        align-items: center;
    }

    .about-content li {
        margin: 0;
        padding: 0;
    }


    .container-hero {
        flex-direction: column;
        padding: 0 3vw;
        padding-top: 10vh;
        height: auto;
    }

    .hero-content>h2 {
        font-size: 30px;
        font-weight: 700px;
        margin: 0;
    }

    .div-bouton {
        display: flex;
    }

    .div-bouton>a {
        display: block;
    }

    .carsl>a {

        display: flex;
        justify-content: center;
        text-align: center;
    }
}





// why us section


.why-us {
    padding: 4rem 0;
    background: black;
}

.second-titltle {
    margin-bottom: 2.5rem;
    margin-left: 6vw;
}

.second-titltle>h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #cda45e;
    margin-bottom: 0.75rem;
    text-transform: uppercase;
}

.second-titltle>p {
    font-size: 1.125rem;
    color: gray;
    line-height: 1.6;

}


.section-content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;


        .card-item {
            flex: 1;
            min-width: 300px;
            max-width: 350px;
            padding: 2rem;
            background: #151412;
            border-radius: 8px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
            transition: all 0.3s ease-out;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
                background-color: #cda45e;
            }

            span {
                display: block;
                font-size: 1.75rem;
                font-weight: bold;
                color: #ffb347;
                margin-bottom: 1rem;
            }

            h4 {
                font-size: 1.25rem;
                margin-bottom: 1rem;

                a {
                    color: inherit;
                    text-decoration: none;
                    color: white;

                    &:hover {
                        color: #ff8c00;
                    }
                }
            }

            p {
                color: white;
                line-height: 1.6;
            }
        }
    }
}



// menu

#menu {
    padding: 80px 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.menu-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.section-title h2 {
    font-size: 14px;
    color: #7f7f90;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 500;
}

.section-title h1 {
    font-size: 36px;
    color: #ffb347;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: capitalize;
}


.menu-section {
    padding: 80px 20px;
    background-color: #191815;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-header {
    text-align: center;
    margin-bottom: 50px;
}

.section-subtitle {
    font-size: 14px;
    color: #7f7f90;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 500;
}

.section-title {
    font-size: 36px;
    color: #ffb347;
    margin: 0 0 15px 0;
    font-weight: 700;
    text-transform: capitalize;
}


.menu-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.menu-tab {
    padding: 10px 25px;
    margin: 0 5px 10px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    background: #f8f8f8;
    border: none;
}

.menu-tab:hover {
    background: #ffb347;
    color: #fff;
}

.menu-tab.active {
    background: #ffb347;
    color: #fff;
}


.menu-section {
    background: #29261f;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;

}

.menu-item {
    display: flex;
    background: #29261f;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    transition: all 0.3s ease;
}

.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.menu-item-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    flex-shrink: 0;
}

.menu-item-content {
    padding: 20px;
    flex-grow: 1;
}

.menu-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
}

.menu-item-title {
    font-size: 18px;
    color: white;
    margin: 0;
    font-weight: 600;
}

.menu-item-price {
    color: #ffb347;
    font-weight: 700;
    font-size: 18px;
}

.menu-item-description {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
}


@media (max-width: 768px) {
    .menu-items {
        grid-template-columns: 1fr;
    }

    .menu-item {
        flex-direction: column;
    }

    .menu-item-img {
        width: 100%;
        height: 200px;
    }
}




body {
    margin: 0;
    background-color: #0d0d0d;
    color: #fff;
}

.specials {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header span {
    display: block;
    font-size: 14px;
    color: #b8864b;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.header h1 {
    font-size: 40px;
    color: #d8a35d;
    margin-top: 0;
}

.specials-content {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    width: 100%;
    max-width: 1200px;

}

.specials-menu {
    display: flex;
    flex-direction: column;
    width: 250px;
    border-right: 2px solid #b8864b;
    padding-right: 30px;
}

.specials-menu button {
    background: none;
    border: none;
    padding: 18px 20px;
    text-align: left;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.specials-menu button:hover {
    color: #d2a354;

}

.specials-menu button.active {
    background-color: #d2a354;
    color: black;
}

.specials-details {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 40px;
    gap: 40px;
    flex: 1;
}

.specials-details.d-flex {
    display: flex
}

.special-part1 {
    flex: 1;
}

.specials-details h2 {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.specials-details .italic {
    font-style: italic;
    color: #aaa;
    margin: 15px 0;
}

.specials-details img {
    width: 300px;
    height: auto;
    border-radius: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .specials {
        padding: 40px 20px;
    }

    .specials-content {
        flex-direction: column;
        align-items: center;
    }

    .specials-menu {
        width: 100%;
        border-right: none;
        border-bottom: 2px solid #b8864b;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        padding-right: 0;
        margin-bottom: 30px;
    }

    .specials-menu button {
        flex: 1 1 calc(50% - 10px);
        font-size: 14px;
        padding: 12px;
        text-align: center;
    }

    .specials-details {
        flex-direction: column;
        padding-left: 0;
        align-items: center;
        text-align: center;
    }

    .specials-details img {
        width: 220px;
        margin-top: 20px;
    }

    .special-part1 {
        padding: 0 10px;
    }

    .header h1 {
        font-size: 28px;
        text-align: center;
    }

    .header span {
        text-align: center;
    }
}



.reservation {
    padding: 60px 10%;

    color: #f1c27d;
}

.reservation h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #f1c27d;
}

form {
    align-items: center;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

input,
textarea {
    background-color: transparent;
    border: 1px solid #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    font-size: 1rem;
}

textarea {
    width: 100%;
}

.textarea {
    display: flex;
    flex-direction: column;

    button {
        margin: 0 auto;
    }
}

button[type="submit"] {
    padding: 15px 30px;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #f1c27d;
    color: #f1c27d;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #f1c27d;
    color: #000;
}














// carousel-testimonial

.testimonials h4 {
    color: gray;
    padding: 0 40px;
    margin: 0;
}

.testimonials h1 {
    color: #b2914a;
    padding: 0 40px;
    margin: 0;
}

#caro2 {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.testimonial-card {
    max-width: 400px;
    background-color: transparent;
    text-align: left;
    display: none;
    flex-direction: column;
}

.quote-box {
    background-color: #111;
    padding: 20px 30px;
    border-radius: 8px;
    position: relative;
    font-style: italic;
    color: #ccc;
}

.quote-mark {
    font-size: 32px;
    color: #b2914a;
    font-style: normal;
}

.quote-mark.start {
    position: absolute;
    top: 10px;
    left: 10px;
}

.quote-mark.end {
    display: block;
    text-align: right;
    margin-top: 10px;
}

.profile {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.profile img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid #111;
    object-fit: cover;
    margin-right: 15px;
}

.profile-info h3 {
    margin: 0;
    font-size: 18px;
    color: #fff;
}

.profile-info p {
    margin: 2px 0 0;
    color: #999;
}

.carousel-controls {
    display: none;
}



@media (max-width: 7px) {
    #caro2 {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .testimonial-card {
        width: 90%;
    }

    .testimonials h1,
    .testimonials h4 {
        padding: 0 20px;
        text-align: center;
    }
}


#gallery {
    padding: 50px 20px;
    background-color: #0c0b09;
}

#gallery h4 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 40px;
}

#gallery h1 {
    font-size: 36px;
    color: #c49b63;
}

.imagesgallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 1px;
}

.imagesgallery img.gallery {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagesgallery img.gallery:hover {
    transform: scale(1.03);
    zoom: normal;
}



@media (max-width:768px) {
    .imagesgallery {

        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

    }

}


.team-header {
    text-align: left;
    margin-bottom: 40px;
}

.team-header h3 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    color: hsl(30, 25%, 98%);
    /* Gold color */
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

.team-header h3:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: #d4af37;
    top: 50%;
    right: -80px;
}

.team-header h1 {
    font-size: 2.5rem;
    color: #d4af37;
    /* Gold color */
    font-weight: 300;
}

.chef-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.chef-card {
    position: relative;
    overflow: hidden;
    height: 500px;
    align-items: center;
}

.chef-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.chef-card:hover .chef-image {
    transform: scale(1.1);
}

.chef-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.chef-card:hover .chef-info {
    transform: translateY(0);
}

.chef-info h4 {
    color: #d4af37;
    margin-bottom: 5px;
}

.chef-info p {
    color: #fff;
    font-size: 0.9rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .chef-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .chef-grid {
        grid-template-columns: 1fr;
    }

    .team-header h1 {
        font-size: 1.8rem;
    }
}

.maps {
    background-color: #111111;
    padding: 60px 0;
    color: #fff;
    width: 100%;
}

.maps-content {
    max-width: 1200px;
    padding: 0 20px;
    text-align: left;
}

.maps-content h3 {
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 10px;
}

.maps-content h1 {
    color: #d4af37;
    font-size: 42px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;

}

.maps-content h1:after {
    display: block;
    width: 60px;
    height: 3px;
    background-color: #d4af37;
    margin-top: 15px;
}



/* Design responsive */
@media (max-width: 768px) {
    .maps-content h1 {
        font-size: 32px;
    }

    .map iframe {
        height: 350px;
    }
}















































































.top-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    background: #e67e22;
    color: white;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s, transform 0.2s;
    z-index: 100;
    display: grid;
    place-items: center;
}

.top-btn.visible {
    opacity: 1;
}

.top-btn:hover {
    background: #444;
    transform: scale(1.05);
}

.top-btn svg {
    width: 20px;
    height: 20px;
}